:root {
  --input-color: #99a3ba;
  --input-border: #cdd9ed;
  --input-background: #f5f6fa;
  --input-placeholder: #cbd1dc;
  --primary: #007BFF;
  --input-border-focus: #275efe;
  --group-color: var(--input-color);
  --group-border: var(--input-border);
  --group-background: #eef4ff;
  --group-color-focus: #fff;
  --group-border-focus: var(--input-border-focus);
  --group-background-focus: #678efe;
}

html {
  scroll-behavior: smooth;
}
body{
  font-family: 'Roboto', sans-serif;
}
.font-weight-900{
  font-weight: 900;
}
.font-weight-700{
  font-weight: 700;
}
.site-header {
  background-color: #fff;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.site-header a {
  color: #000;
  transition: ease-in-out color 0.15s;
}
.site-header a:hover {
  text-decoration: none;
}

.site-header .divider {
  height: 20px;
  border-right: 1px solid black;
  margin: 0 30px;
}

.banner {
  background-image: url('./assets/key-visual.svg');
  background-repeat: no-repeat;
  background-size: auto;
  /* background-size: 100% 100%; */
  background-position: top center;
  color: #fff;
}
.banner .title {
  font-size: 50px;
  line-height: 58.60px;
  font-weight: 700;
}
.banner .lead {
  margin-top: 1rem;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.banner .btn {
  margin-right: auto;
}

.contact-form {
  top: -56px;
  width: 80%;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  height: 112px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

footer {
  position: relative;
  background-color: #262630;
  color: #fff;
}
footer .logo-img {
  width: 300px;
}

.text-primary {
  color: var(--primary);
}
.btn-primary {
  background-color: var(--primary);
  color: #fff;
}

.section_1{
  background-image: url('./assets/game_station_bg.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
}
.section_1 .title {
  font-size: 37px;
  line-height: 43.36px;
  border-bottom-width: 4px !important;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.section_1 ul {
  list-style: none;
  padding-left: 0;
  
}
.section_1 img {
  height: 100%;
  margin-left: -20%;
}

.section_1 ul li::before {
  display: block;
  content: '\2022';
  font-size: 1.7rem;
  color: var(--primary);
  font-weight: bold;
  display: inline-block;
  /* width: 1em; */
  margin-right: 1rem;
}
.section_1 ul li {
  margin-top: 15px;
  font-size: 25px;
  display: flex;
  align-items: baseline;
}

.section_2 {
  background-image: url('./assets/section_2.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  /* background-color: #f5f6fa; */
  /* padding: 3rem 3rem 5rem 3rem; */
  padding: 3rem;
}
.section_2 .card{
  background-color: rgba(255, 255, 255, 0.90);
  margin-left: 32px;
  margin-right: 32px;
}
.section_2 h2{
  text-shadow: 0px 0px 20px rgba(0, 123, 255, 0.80);
  font-size: 37px;
  font-weight: 900;
  line-height: 43px;
}

.section_2 img {
  width: 30px;
  height: 30px;
  margin-top: 25px;
  margin-bottom: 40px;
}
.section_2 .card-body{
  padding-left: 20px;
  padding-right: 20px;
}
.section_2 .card-body .sub-title{
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  border-bottom-width: 3px !important;
}
.section_2 .card-body p{
  min-height: 84px;
  font-size: 17px;
  line-height: 21px;
  font-weight: 400;
}
/* .section_3 */
.section_3 .bg-partner{
  background: #262630;
}
.section_3 h2{
  font-size: 37px;
  font-weight: 700;
  line-height: 43px;
}
.section_3 .card{
  width: 100%;
  background: #FFFFFF;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
border-radius: 10px;
min-height: 165px;
}

.form-field {
  display: block;
  width: 100%;
  padding: 8px 16px;

  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px;
  -webkit-appearance: none;
  color: var(--input-color);
  border: 1px solid var(--input-border);
  background: var(--input-background);
  -webkit-transition: border 0.3s ease;
  transition: border 0.3s ease;
}
.form-field::-webkit-input-placeholder {
  color: var(--input-placeholder);
}
.form-field::-moz-placeholder {
  color: var(--input-placeholder);
}
.form-field:-ms-input-placeholder {
  color: var(--input-placeholder);
}
.form-field::-ms-input-placeholder {
  color: var(--input-placeholder);
}
.form-field::placeholder {
  color: var(--input-placeholder);
}
.form-field:focus {
  outline: none;
  border-color: var(--input-border-focus);
}
.form-group {
  position: relative;
  display: -webkit-box;
  display: flex;
  width: 100%;
  margin-bottom: 0;
}
.form-group > span,
.form-group .form-field {
  white-space: nowrap;
  display: block;
}
.form-group > span:not(:first-child):not(:last-child),
.form-group .form-field:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.form-group > span:first-child,
.form-group .form-field:first-child {
  border-radius: 6px 0 0 6px;
}
.form-group > span:last-child,
.form-group .form-field:last-child {
  border-radius: 0 6px 6px 0;
}
.form-group > span:not(:first-child),
.form-group .form-field:not(:first-child) {
  margin-left: -1px;
}
.form-group .form-field {
  position: relative;
  z-index: 1;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  width: 1%;
  margin-top: 0;
  margin-bottom: 0;
}
.form-group > span {
  text-align: center;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 25px;
  color: var(--group-color);
  background: var(--group-background);
  border: 1px solid var(--group-border);
  -webkit-transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
  transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}
.form-group:focus-within > span {
  color: var(--group-color-focus);
  background: var(--group-background-focus);
  border-color: var(--group-border-focus);
}

.btn {
  white-space: nowrap;
  text-align: center;
}

@media (max-width: 575.98px) {
  .banner .btn {
    margin: auto;
  }
  .p-sm-5{
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}


@media (min-width: 768px) {
  .contact-form {
    padding: 0 40px;
  }
  
}

@media (min-width: 1200px) {
  .contact-form {
    padding: 0 70px;
  }
}
@media (max-width: 1199px) {
  .banner{
    background-position: top left;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
}

@media (max-width: 768px) {
  
  
  .banner  .title {
    font-size: 40px;
    line-height: normal;
  }
  .section_1 {
    background-size: cover;
  }
  .section_1 ul {
    padding-left: 0;
  }
  .section_2 {
    background-size: cover;
  }
  .section_2 .card {
    margin-left: 0;
    margin-right: 0;
}
  .navbar-brand{
    max-width: 245px;
  }
}
